//import fonts
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

$hFont: 'Walter Turncoat', cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/128721.png");
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

body, html {
    overflow-x: hidden;
}

//home page
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: $hFont;
    text-align: center;
    font-size: 3rem;
    color: #E80920;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 4rem 0 2rem;
}

.orange {
    color: #F2670A;
}

.yellow {
    color: #F3FF17;
}

.green {
    color: #1DBF38;
}

.home-page_board {
    background-color: #fff;
    width: 500px;
    padding: 1rem;
    border: solid 1px #000;
    border-radius: 4px;
}

.leaderboard-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    
}

.home-page_board > *:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px grey solid;
}

.leaderboard-card > *:last-child {
    justify-self: end;
}

.medal {
    width: auto;
    height: 50px;
}

.home-page_board > *:not(:last-child) {
    margin-bottom: 1rem;
}

.auth-button {
    background-color: #449D44;
    position: fixed;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    top: 10px;
    left: 10px;
    border: none;
    border-radius: 6px;
    width: 200px;
    color: #fff;
    &:hover {
        background-color: #3a853a;
    }
}

.leaderboard-place {
    padding-left: 1.4rem;
    font-size: 1.2rem;
    margin-right: 0.8rem;
}

.add-button {
    position: absolute;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    background: #5BC0DE;
    border-radius: 6px;
    left: 10px;
    top: 54px;
    width: 200px;
    border: none;
    color: #fff;
    &:hover {
        background-color: #4896ad;
    }
}

//admin page
.admin-login {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #4896ad;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-direction: column;
}

form > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.control-room {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
 padding: 1rem;
}

.control-room h2 {
    text-align: center;
    background-color: grey;
    padding: 1rem;
}

.control-container > div{
    width: 600px;
    display: flex;
    border: 1px grey solid;
}

.container {
    width: 50%;
}

//404
.notfound-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        margin: 0;
    }
    a {
        color: #fff;
        font-size: 1.4rem;
        text-align: center;
    }
}

.notfound-page div {
    display: flex;
    flex-direction: column;
}

//repsonive media queries

//phone
@media only screen and (max-width: 768px){
    .auth-button {
        position: fixed;
        bottom: 10%;
        top: auto;
        left: 50%;
        margin-left: -100px;
    }


    h1 {
        font-size: 2rem;
    }
    
    
    .add-button {
        position: fixed;
        bottom: 15%;
        top: auto;
        left: 50%;
        margin-left: -100px;
    }
    
    .home-page_board {
        width: 300px
    }
}